html {
  scroll-behavior: smooth;
}
p, h1, h2, span, strong, label {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
h1 {
  font-family: 'Playfair Display', cursive; 
}
h2, h3 {
  font-family: 'Playfair Display', serif;
}
span {
  font-family: 'Great Vibes', sans-serif;
  font-size: larger;
}
p, input, label {
  font-family: 'Playfair Display';
  font-weight: 300;
}
.color-circle:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

button:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #4ade80; /* Зелёная граница */
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: #4ade80; /* Зелёный фон при выборе */
  border-color: #4ade80;
}

input[type="radio"]:focus {
  box-shadow: 0 0 0 1px rgba(74, 222, 128, 0.5); 
}

hr {
	margin: 20px 0;
	padding: 0;
	height: 10px;
	border: none;
	box-sizing: border-box;
	background-position: 50%;
	color: green;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="3px" height="3px" viewBox="0 0 3 3" fill="green"><polygon points="0,0.5 0,1.5 1.5,3 2.5,3"></polygon><polygon points="2.5,0 1.5,0 3,1.5 3,0.5"></polygon></svg>');
	background-size: 6px 6px;
}